# exclude folders

# ecognition workspace
ecognition_workspace/results/*
!ecognition_workspace/results/info
!ecognition_workspace/results/ObjectShapes
!ecognition_workspace/results/ThematicShapes

# arcgis project
*arcgis_project/*